.router-link-active button {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.shy {white-space: normal !important;}
.shy[lang="ru"] {
    word-break: break-word;
    hyphens: auto;
}

.border-radius-0 {border-radius: 0!important;}
.border-radius-tl-0 {border-top-left-radius: 0!important;}
.border-radius-tr-0 {border-top-right-radius: 0!important;}
.border-radius-bl-0 {border-bottom-left-radius: 0!important;}
.border-radius-br-0 {border-bottom-right-radius: 0!important;}

.mb--1px {margin-bottom: -1px!important;}

.focus-bg-secondary:focus {background-color: rgba(233, 236, 239, 0.3) !important;}
.focus-border-secondary:focus {
    border-color: #ced4da!important;
    box-shadow: none!important;
}

.pl-30px {padding-left: 30px!important;}

.label-required {position: relative;}
.label-required:after {
    position: absolute;
    content: '\00A0*';
    color: #dc3545;
}

.checked-success:checked {
    background-color: #198754!important;
    border-color: #198754!important;
}