.slide-enter-active, .slide-leave-active {
    transform: scale(1, 1);
    transition: 0.5s;
}
.slide-enter, .slide-leave-to {
    transform: scale(0, 0);
    transition: 0.5s;
}
.atten-badge{
    cursor: default;
    position: relative;
}
.atten-alert{
    position: absolute;
    white-space: pre-line;
    bottom: 0;
    left: 15px;
    font-size: 0.75rem;
    width: 160px;
    border-radius: 1.5rem 1.5rem 1.5rem 0;
    opacity: 0;
    transition: .5s;
}
.atten-badge:hover .atten-alert {
    opacity: 1;
}